<div>
	
	<% if user_signed_in? %>
	Signed in as <%= current_user.email %>. Not you?
	<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path %> or
	<%= link_to "Sign in", new_user_session_path %>
	<% end %>
</div>
<table>
<caption><b> User Posts </b></caption>
<thead>
	<th>
		Sl
	</th>
	<th>
		Title
	</th>
	<th>
		Url
	</th>
</thead>
<tbody>
<% if @posts.present? %>
	<% @posts.each_with_index do |p, i|%>
		<tr><td><%= i+1%></td><td><%= p.title%></td><td><%= p.url%></td></tr>
	<% end %>
<% else %>
<tr><td colspan="3"> No Posts</td></tr>
<% end%>
</tbody>
</table>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
caption {

}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>